.show-pie {
  display: none;
}

.pie:hover {
  cursor: pointer;
  color: blue;
}

.show-pie {
  font-weight: bolder;
  font-size: 20px;
}

.order-complete {
  display: none;
  font-size: 20px;
}

body {
  background-color: #ff3399;
  font-size: 20px;
}

h1 {
  text-align: center;
  font-size: 50px;
}

#user-name, #user-address {
  font-weight: bold;
  font-size: 25px;
}

label {
  font-size: 25px;
}
